{% load wagtailcore_tags %}
{% load menu_tags %}

<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">

            <form action="{% url 'search' %}" method="get">
                <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %} placeholder="Search">
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Recipes</h2>
            </header>

            <ul>
                <li><a href="{% slugurl 'recipes' %}">All Recipes</a></li>
                {% for item in menu_items %}
                    {% sub_menu item template="menus/sub_menu.html" use_specific=3 %}
                {% endfor %}
            </ul>
        </nav>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{ settings.home.GeneralSettings.site_author }}. All rights reserved.<br/>
                Design: <a href="https://html5up.net">HTML5 UP</a><br/>
                Icons: <a href="https://thenounproject.com/made.somewhere/">Made by Made (The Noun Project)</a>
            </p>
        </footer>

    </div>
</div>