{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load make_markdown %}

{% block extra_css %}

{% endblock %}

{% block content %}

    <section id="logo">
        <div class="row 12u">
                <span class="image fit">
                    {% image self.logo width-1920 as tmp_photo %}
                    <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" />
                </span>
        </div>
    </section>

    <!-- Banner -->
    <section id="banner">
        {% if self.featured_recipe %}
            {% with self.featured_recipe as fr %}
                <div class="content">
                    <header>
                        <h1>{{ fr.title }}</h1>
                    </header>
                    {{ fr.intro|make_markdown }}
                    <ul class="actions">
                        <li><a href="{{ fr.url }}" class="button big">Read Recipe</a></li>
                    </ul>
                </div>
                <span class="image object">
                    {% image fr.main_image fill-1104x768 as tmp_photo %}
                    <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" />
                </span>
            {% endwith %}
        {% else %}
            <div class="content">
                {% with settings.home.GeneralSettings as gs %}
                    <header>
                        <h1>{{ gs.site_name }}</h1>
                        {% if gs.site_tagline %}<p>{{ gs.site_tagline }}</p>{% endif %}
                    </header>
                    {% if gs.site_description %}<p>{{ gs.site_description }}</p>{% endif %}
                {% endwith %}
            </div>
            <span class="image object">
                <img src="" alt=""/>
            </span>
        {% endif %}
    </section>




    <!-- Section -->
    <section>
        <header class="major">
            <h2>Recent Recipes</h2>
        </header>
        <div class="posts">
            {% for recipe in recent_recipes.all %}
                <article>
                    <a href="{{ recipe.url }}" class="image">
                        {% image recipe.main_image fill-416x256 as tmp_photo %}
                        <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"/>
                    </a>
                    <h3><a href="{{ recipe.url }}">{{ recipe.title }}</a></h3>
                    {{ recipe.intro|make_markdown }}
                </article>
            {% endfor %}
        </div>
        <a class="button" href="{% slugurl 'recipes' %}">All Recipes</a>
    </section>

    {% comment %}<h1>Welcome to your new Wagtail site!</h1>

    <p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).</p>

    <p>If you haven't already given the documentation a read, head over to <a href="http://docs.wagtail.io/">http://docs.wagtail.io</a> to start building on Wagtail</p>
    {% endcomment %}
{% endblock %}
