#main > .inner > section#logo {
    padding-top: 3em;
    padding-bottom: 1em;
    border-bottom: none;
}

#main > .inner > section#banner {
    border-top: none;
    padding-top: 1em;
}

#main > .inner > section#recipe {
padding-top: 4em;
}

.recipe-categories a {
    text-decoration: none;
    border: none;
}

.category-icon {
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 8%;
    min-width: 36px;
    max-width: 56px;
}
h1 a {
    border-bottom-style: none;
}
#header-icon {
    width: 100%;
}
.v-center h1 {
    vertical-align: middle;
}

.menu-icon, .recipe-icon {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    margin-right: 8px;
}

article h3 a {
    border-bottom-style: none;
}

.image .caption {
    font-size: 0.8em;
}

div.instructions ol li {
    margin-bottom: 1em;
}