header #header-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    max-width: 200px;
}

.category-icon {
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 8%;
    min-width: 36px;
    max-width: 56px;
}
h1 a {
    border-bottom-style: none;
}

.menu-icon, .recipe-icon {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    margin-right: 8px;
}

article h3 a {
    border-bottom-style: none;
}

.image .caption {
    font-size: 0.8em;
}
