header #header-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    max-width: 200px;
}

.menu-icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    //max-height: 24px;
}

article h3 a {
    border-bottom-style: none;
}

.recipe-icon {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}