{% extends 'base.html' %}
{% load wagtailimages_tags %}
{% load make_markdown make_markdown_altlist duration %}
{% load static from staticfiles %}

{% block content %}

    <section>
        <header class="main">
            <h1>
                {{ page.title }}
                {% for cat in self.recipe_categories.all %}{% image cat.category.icon fill-56x56 as tmp_photo %}<a href="{{ cat.category.url }}"><img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" title="{{ cat.category }}" class="category-icon"/></a>{% endfor %}
            </h1>
        </header>

        <span class="image main">
            {% image self.main_image fill-1280x416 as tmp_photo %}
            <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"/>
            {% if self.main_image.source_name or self.main_image.source_url %}
                <span class="caption">
                    {% if self.main_image.source_name and self.main_image.source_url %}
                        Source: <a href="{{ self.main_image.source_url }}">{{ self.main_image.source_name }}</a>
                    {% elif self.main_image.source_name %}
                        Source: {{ self.main_image.source_name }}
                    {% else %}
                        <a href="{{ self.main_image.source_url }}">Source</a>
                    {% endif %}
                </span>
            {% endif %}
        </span>

        {{ page.intro|make_markdown }}

        <hr/>

        <div class="row 200%">
            <div class="6u 12u$(medium)">
                <h2>Ingredients</h2>
                {{ self.format_ingredients|make_markdown_altlist }}
            </div>
            <div class="6u 12u$(medium)">
                {% if self.source_name or self.source_url or self.prep_time or self.cook_time or self.total_time or self.recipe_yield %}
                    <div class="box">
                        {% if self.source_name or self.source_url %}
                            <p>
                                <img src="{% static 'imgs/source.png' %}" class="recipe-icon"/>
                                <b>Source:</b>
                                {% if self.source_url and self.source_name %}
                                    <a href="{{ self.source_url }}">{{ self.source_name }}</a>
                                {% elif self.source_name %}
                                    {{ self.source_name }}
                                {% elif self.source_url %}
                                    <a href="{{ self.source_url }}">Source</a>
                                {% endif %}
                            </p>
                        {% endif %}
                        {% if sefl.prep_time or self.cook_time or self.total_time %}
                            <p>
                                {% if self.prep_time %}
                                    <img src="{% static 'imgs/prep_time.png' %}" class="recipe-icon"/>
                                    <b>Prep Time:</b> {{ self.prep_time|duration }}<br/>
                                {% endif %}
                                {% if self.cook_time %}
                                    <img src="{% static 'imgs/cook_time.png' %}" class="recipe-icon"/>
                                    <b>Cook Time:</b> {{ self.cook_time|duration }}<br/>
                                {% endif %}
                                {% if self.total_time %}
                                    <img src="{% static 'imgs/total_time.png' %}" class="recipe-icon"/>
                                    <b>Total Time:</b> {{ self.total_time|duration }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if self.recipe_yield %}
                            <p>
                                <img src="{% static 'imgs/recipe_yield.png' %}" class="recipe-icon"/>
                                <b>Yield:</b> {{ self.recipe_yield }}
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
                <h2>Notes</h2>
                <i>{{ page.notes|make_markdown }}</i>
            </div>
        </div>

        <h2>Instructions</h2>

        <div class="instructions">
            {{ self.format_instructions|make_markdown }}
        </div>

    </section>


{% endblock %}