{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <section id="search" class="alt">
        <h1>Search</h1>
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %} placeholder="Search">
            <!--<input type="submit" value="Search" class="button">-->
        </form>

        {% if search_results %}
            <div class="posts">
                {% for result in search_results %}
                    <article>
                        <a href="{{ result.url }}" class="image">
                            {% image result.main_image fill-416x256 as tmp_photo %}
                            <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"/>
                        </a>
                        <h3>{{ result.title }}</h3>
                        <p>{{ result.intro }}</p>
                    </article>
                {% endfor %}
            </div>

            {% if search_results.has_previous %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
            {% endif %}

            {% if search_results.has_next %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
            {% endif %}
        {% elif search_query %}
            No results found
        {% endif %}
    </section>
{% endblock %}
